body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(95, 118, 118);
    margin: 0;
}

.container {
    width: 90%;
    max-width: 700px;
    background: #b0621e;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 16px ;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #05000a;
}

.subtitle {
    text-align: center;
    color: #121213;
    margin-bottom: 30px;
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.field label {
    font-weight: 600;
}

.field input,
.field select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
}


.field input:focus,
.field select:focus {
    border-color: #0077ff;
    box-shadow: 0 0 6px rgba(62, 90, 117, 0.4);
    outline: none;
}


.preferences {
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.checkbox-group label {
    font-size: 15px;
}


.btn {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background: #ebf1f1;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #5e5186;
}

@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 20px;
    }
}